body {
    font-family: "Dosis", sans-serif;
    margin: 0px;
}

#wrapper {
    width: 500px;
    height: 300px;
    margin: 10px;
}

.selection1 {
    align-self: center;
    width: 30vw;
    margin: 5vh 5vw;
}

.selection2 {
    align-self: center;
    width: 30vw;
    margin: 5vh 5vw;
}

.urlBox {
    align-self: center;
    width: 30vw;
    margin: 5vh 5vw;
}

.buttonBox {
    align-self: center;
    width: 15vw;
    margin-left: 20px;
    margin-top: 80px;
    margin-bottom: 20px;
}

.textArea {
    height: 10vh;
    margin-left: 20px;
}

textarea {
    width: 400px;
}

.label {
    margin-left: 20px;
}

#label {
    font-size: 15px;
    font-weight: bold;
}

#url {
    font-size: 15px;
    width: 400px;
    height: 40px;
    border-radius: 10px;
    padding: 5px;
}

#userType {
    height: 40px;
    border-radius: 10px;
    padding: 5px;
    background-color: white;
}

#issueType {
    height: 40px;
    border-radius: 10px;
    padding: 5px;
    display: none;
    background-color: white;
}

#description {
    border-radius: 10px;
    font-size: 15px;
    overflow: scroll;
    padding: 5px;
}

button {
    border-radius: 10px;
    padding: 5px;
    height: 40px;
    width: 100px;
    background-color: #004494;
    border-color: #004494;
    font-size: 15px;
}
